/* src/components/MainLayout.css */
.main-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
  background-color: #121212;
  padding: 20px;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
